EXPO_PUBLIC_FORCE_PROD=true
EXPO_PUBLIC_AUTH0_DOMAIN=auth.patrimore.com
EXPO_PUBLIC_AUTH0_CLIENT_ID=
EXPO_PUBLIC_AUTH0_CLIENT_ID_PRODUCTION=
EXPO_PUBLIC_AUTH0_REDIRECT_URI=com.patrimore.patrimore://auth0-callback
EXPO_PUBLIC_STAGING_AUDIENCE_API=https://staging.patrimore.com/api
EXPO_PUBLIC_STAGING_AUDIENCE=https://staging.patrimore.com
EXPO_PUBLIC_PRODUCTION_AUDIENCE=https://app.patrimore.com
#id analyzer
EXPO_PUBLIC_ID_ANALYZER_API_KEY=
EXPO_ID_ANALYZER_REGION=US
#fintoc
EXPO_PUBLIC_FINTOC_PUBLIC_KEY=
EXPO_PUBLIC_FINTOC_SECRET_KEY=

# OneSignal
EXPO_PUBLIC_ONESIGNAL_APP_ID=
